PORT=7117
MONGO_URI=mongodb://localhost:27017/ar-hotel-menu
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://gandharree.vipulphatangare.site
NODE_ENV=production
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
